// input

params.fastq_in = '/app/testdata/Bat-Guano-15_S6_L001_R{1,2}*.fastq.gz'

// bowtie2
params.index = "/app/databases/bowtie2/GRCh38_noalt_as/GRCh38_noalt_as"

// kaiju databases

params.kaiju_fmi_virus =  "/app/databases/kaiju_db/virus/kaiju_db_viruses.fmi"
params.kaiju_nodes_virus =  "/app/databases/kaiju_db/virus/nodes.dmp"
params.kaiju_names_virus = "/app/databases/kaiju_db/virus/names.dmp"

params.kaiju_fmi_refseq =  "/app/databases/kaiju_db/refseq/kaiju_db_refseq.fmi"
params.kaiju_nodes_refseq =  "/app/databases/kaiju_db/refseq/nodes.dmp"
params.kaiju_names_refseq = "/app/databases/kaiju_db/refseq/names.dmp"

// kraken2

params.kraken_db_standard = "/app/databases/kraken/standard"

// CAT databases
params.CAT_database = "/app/databases/CAT/CAT_prepare_20210107/2021-01-07_CAT_database/"
params.CAT_taxonomy = "/app/databases/CAT/CAT_prepare_20210107/2021-01-07_taxonomy/"

// checkV 
params.checkv = "/app/databases/checkv-db-v1.4"

// OUTPUTS

params.fastp_out = 'results/fastp'
params.bowtie2_out = 'results/bowtie2'
params.kaiju_out = 'results/kaiju'
params.kraken2_out = 'results/kraken'
params.megahit_out = 'results/megahit'
params.metabat2_out = 'results/metabat2'
params.bowtie2_align2contigs = 'results/bowtie2/align2contigs'
params.metaspades_out = 'results/metaspades'
params.cat_out = 'results/cat'
params.cleaned_files = 'results/cleaned_files'
params.checkv_out = 'results/checkv'


// remove the work directory on complete ADD THIS LATER!!!
// cleanup = true
