// input

params.fastq_in = '/home/viller/virusclass/testdata_marine/APX_{1,2}.fastq.gz'

// bowtie2 unaligned reads

params.index = "/home/viller/virusclass/bowtie_dolphin/Tursiops_truncatus"

// kaiju databases

params.kaiju_fmi_virus =  "/home/viller/virusclass/databases/kaiju_db/virus/kaiju_db_viruses.fmi"
params.kaiju_nodes_virus =  "/home/viller/virusclass/databases/kaiju_db/virus/nodes.dmp"
params.kaiju_names_virus = "/home/viller/virusclass/databases/kaiju_db/virus/names.dmp"

params.kaiju_fmi_refseq =  "/home/viller/virusclass/databases/kaiju_db/refseq/kaiju_db_refseq.fmi"
params.kaiju_nodes_refseq =  "/home/viller/virusclass/databases/kaiju_db/refseq/nodes.dmp"
params.kaiju_names_refseq = "/home/viller/virusclass/databases/kaiju_db/refseq/names.dmp"

// kraken2

params.kraken_db_standard = "/home/viller/virusclass/databases/kraken/standard"


// OUTPUTS

params.fastp_out = '../results/fastp'

// unaligned bowtie2
params.bowtie2_out = '../results/bowtie2'
params.kaiju_out = '../results/kaiju'
params.kraken2_out = '../results/kraken'
params.megahit_out = '../results/megahit'
params.metabat2_out = '../results/metabat2'
params.bowtie2_align2contigs = '../results/bowtie2/align2contigs'
params.metaspades_out = '../results/metaspades'


// CPUS, RAM and publishdir for each process 

process {

    conda = "/home/user/miniconda3/envs/my_conda_env"
    
    withName: TESTING {
        cpus = 2
        memory = 10.GB
        publishDir = { "fastqc/$sample" }
    }
    
    withName: TESTARLITE {
        cpus = 2
        memory = { 2.GB * task.cpus }
        conda = "bioconda::salmon=1.5.2"
        publishDir = { "fastqc/$sample" }
    }
}

// remove the work directory on complete ADD THIS LATER!!!
// cleanup = true