// excecutor to prevent the system to running on too much mem and CPU
// change the numbers to something fitting
executor.$local.cpus = 2
executor.$local.memory = '8 GB'

// input
// Bat-Guano is the testdata from Andreas
// params.fastq_in = '/app/testdata/Bat-Guano-15_S6_L001_R{1,2}*.fastq.gz'

params.fastq_in = '/app/testdata/*R{1,2}*.fastq.gz'

// bowtie2
params.bowtie_index = "/app/databases/bowtie2/GRCh38_noalt_as/GRCh38_noalt_as"

// kaiju databases
params.kaiju_fmi_virus =  "/app/databases/kaiju_db/virus/kaiju_db_viruses.fmi"
params.kaiju_nodes_virus =  "/app/databases/kaiju_db/virus/nodes.dmp"
params.kaiju_names_virus = "/app/databases/kaiju_db/virus/names.dmp"

params.kaiju_fmi_refseq =  "/app/databases/kaiju_db/refseq/kaiju_db_refseq.fmi"
params.kaiju_nodes_refseq =  "/app/databases/kaiju_db/refseq/nodes.dmp"
params.kaiju_names_refseq = "/app/databases/kaiju_db/refseq/names.dmp"

// kraken2
params.kraken_db_standard = "/app/databases/kraken/standard"

// CAT databases
params.CAT_database = "/app/databases/CAT/CAT_prepare_20210107/2021-01-07_CAT_database/"
params.CAT_taxonomy = "/app/databases/CAT/CAT_prepare_20210107/2021-01-07_taxonomy/"

// checkV 
params.checkv = "/app/databases/checkv-db-v1.4"

// log file in the end
workflow.onComplete = {
    println "Pipeline complete"
    println "Command line: $workflow.commandLine"
    println "Date: $workflow.complete"
    println "Duration: $workflow.duration"
}

cleanup = true
